<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="RESOURCES">
       
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ResGroupID">
            <Component Id="cmpD66868EDFED3539AC9BD6D5250323B7D" Directory="RESOURCES" Guid="{0902B99A-B8C4-494F-B3BA-06342FF59BC1}">
                <File Id="filFB04B71DC5D75B734F433080A2BC740B" KeyPath="yes" Source="SourceDir\originalHal.py" />
            </Component>
            
        </ComponentGroup>
    </Fragment>

</Wix>